.about-container {
  margin: 2.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--font-color);
  transition: color 0.5s ease;
  h1 {
    font-size: 45px;
    line-height: 45px;
  }
  p {
    font-size: 14px;
  }
  .about-image {
    width: 25vw;
    margin-left: 60px;
  }
  a {
    text-decoration: none;
    font-weight: 700;
  }
  .grobo-link {
    color: #a3cf5f;
  }
  .enpowered-link {
    color: #f6cb2a;
  }
  .fourstar-link {
    color: #ec3e3d;
  }
  .portfolio-link {
    color: var(--primary-color);
    transition: color 0.5s ease;
  }
  button {
    display: none;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: -30px;
    border: none;
    border-radius: 17.5px;
    height: 35px;
    width: 130px;
    background: var(--font-color);
    color: var(--bg-color);
    font-weight: 700;
    font-size: 12px;
    transition: transform 0.1s ease, color 0.5s ease;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
    }
  }
}

@media only screen and (max-width: 800px) {
  .about-container {
    margin-top: 1rem;
    flex-direction: column;
    h1 {
      margin-top: -1rem;
      font-size: 25px;
    }
    p {
      font-size: 14px;
    }
    .about-image {
      margin-top: 1rem;
      margin-bottom: -1rem;
      margin-left: 0;
      width: 100%;
    }
    button {
      display: block;
    }
  }
}

[data-theme="light"] .loading {
  filter: invert(9%) sepia(15%) saturate(7%) hue-rotate(318deg) brightness(102%)
    contrast(93%);
  transition: filter 0.5s ease;
}
[data-theme="dark"] .loading {
  filter: invert(100%) sepia(68%) saturate(38%) hue-rotate(155deg)
    brightness(115%) contrast(90%);
  transition: filter 0.5s ease;
}
