.timeline {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: column;

  .vertical-line {
    transition: background 0.5s ease;
    z-index: 0;
    position: absolute;
    top: 10px;
    left: 26.5px;
    width: 5px;
    height: 95%;
    border-radius: 2.5px;
    background: var(--font-color);
  }
}

@media only screen and (max-width: 800px) {
  .timeline {
    margin: -1rem 0;

    .vertical-line {
      top: 17.5px;
      height: 97%;
    }
  }
}
