.about-container {
  margin: 2.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--font-color);
  transition: color .5s ease;
  h1 {
    font-size: 45px;
    line-height: 45px;
  }
  p {
    font-size: 14px;
  }
  img {
    width: 30vw;
    margin-left: 60px;
  }
  a {
    text-decoration: none;
    font-weight: 700;
  }
  .grobo-link {
    color: #a3cf5f;
  }
  .enpowered-link {
    color: #f6cb2a;
  }
  .fourstar-link {
    color: #ec3e3d;
  }
  .portfolio-link {
    color: var(--secondary-color);
  }
}

@media only screen and (max-width: 800px) {
  .about-container {
    margin-top: 1rem;
    flex-direction: column;
    h1 {
      font-size: 25px;
    }
    p {
      font-size: 11px;
    }
    img {
      margin-top: 3rem;
      margin-left: 0;
      width: 70vw;
    }
  }
}