.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navLogo {
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.navLogo img{
  transform: translate(1px, 0) scale(0.225);
}

.navLogo img:hover {
  filter: drop-shadow(0 0 10px var(--shadow-color));
  transition: filter 0.3s ease;
}

.navLogo img[data-theme="dark"] {
  filter: invert(100%);
}

.navLinks {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navLink {
  padding: 0 1rem;
  list-style: none;
}

.navLink a {
  text-decoration: none;
  color: var(--font-color);
  position: relative
}

.navLink a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background-color: var(--primary-color);
  opacity: 0;
  transition: opacity .3s, transform .3s;
}

.navLink a:hover {
  text-shadow: 0 0 0.5px var(--shadow-color);
}

.navLink a:hover::after {
  opacity: 1;
  transform: translateY(0.5em);
}